.banner {
    position: relative;
    width: 100%;
    height: 223px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-radius: 25px;
    margin-bottom: 30px;
}

.banner__img {
    position: absolute;
    height: 223px;
    width: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
}

.banner h1 {
    position: relative;
    display: flex;
    font-size: 48px;
    font-weight: 500;
    align-items: center;
    color: #FFFFFF;
}

@media only screen and (min-width: 321px) and (max-width: 767px) {

    .banner {
        height: 180px;
    }

    .banner h1 {

        font-size: 24px;
        padding-left: 30px;
        ;
    }
}