.banner {
    position: relative;
    width: 1240px;
    height: 223px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-radius: 25px;
    margin-bottom: 1.5rem;
}

.banner__img {
    position: absolute;
    height: 223px;
    width: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
}

.banner__shadow {
    position: absolute;
    width: 100%;
    height: 223px;
    background: #F7F7F7;
    background-color: black;
    mix-blend-mode: darken;
    opacity: 0.3;
}

.banner h1 {
    position: relative;
    display: flex;
    font-size: 48px;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
}


@media (max-width: 728px) {
    .banner h1 {
        font-size: 1.5rem;
    }
}

@media (max-width: 646px) {
    .banner {
        margin-top: 0px;
        height: 111px;
    }
}

@media (max-width: 450px) {
    .banner h1 {
        font-size: 1rem;
    }
}