.Carrousel__Container {
    max-width: 100%;
    height: 415px;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    position: relative;

}

.Carrousel__image {

    min-width: 100%;
    height: 415px;
    object-fit: cover;
    border-radius: 20px;

}

.Carrousel__btnLeft {
    position: absolute;
    left: 2%;
    top: 30%;
    margin-top: 40px;
    width: 47px;
    height: 79px;
    z-index: 1000;
    transition: all 0.3s;
}

.Carrousel__btnLeft:hover {
    cursor: pointer;
    scale: 1.1;
}

.Carrousel__btnRight {
    position: absolute;
    right: 2%;
    top: 30%;
    margin-top: 40px;
    width: 47px;
    height: 79px;
    z-index: 1000;
    transition: all 0.3s;
}

.Carrousel__btnRight:hover {
    cursor: pointer;
    scale: 1.1;
}

.Carrousel__counter {
    position: absolute;
    top: 89%;
    font-size: 24px;
    font-weight: 900;
    color: white;
    margin: 10px;
    left: 50%;
}

@media (min-width: 321px) and (max-width: 767px) {
    .Carrousel__Container {
        height: 255px;
    }

    .Carrousel__image {
        height: 255px;
    }

    .Carrousel__btnLeft {
        width: 24px;
        height: 30px;
    }

    .Carrousel__btnRight {
        width: 24px;
        height: 30px;
    }

    .Carrousel__counter {
        font-size: 12px;

    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .Carrousel__Container {
        height: 255px;
    }

    .Carrousel__image {
        height: 255px;
    }

    .Carrousel__btnLeft {
        width: 24px;
        height: 30px;
    }

    .Carrousel__btnRight {
        width: 24px;
        height: 30px;
    }

    .Carrousel__counter {
        font-size: 12px;

    }
}