.fiche-logement {
    position: relative;
    width: 340px;
    height: 340px;
    background-image: linear-gradient(180deg, #FF6060, #FF6060, #FF6060, #833131);
    border-radius: 10px;
    transition: 0.3s;
}

.fiche-logement img {
    border-radius: 10px 10px 0px 0px;
    height: 268px;
    width: 100%;
    object-fit: cover;

}

.fiche-logement h3 {
    display: flex;
    height: 60px;
    font-size: 18px;
    font-weight: 500;
    line-height: 142.6%;
    text-decoration: none;
    margin: 0px 20px;
    align-items: center;
    overflow: hidden;
    color: white;
}

@media (max-width: 400px) {
    .fiche-logement {
        width: 335px;
        height: 255px;
    }

    .fiche-logement h3 {
        height: 60px;
        margin: 0px 15px;
    }

    .fiche-logement img {
        height: 188px;
    }
}


.fiche-logement:hover {
    box-shadow: 0px 0px 20px #e37f7f;
    opacity: 0.8;
    cursor: pointer;
}