.fiche-logement {
    position: relative;
    width: 340px;
    height: 340px;
    background-image: linear-gradient(to top, #ff6060, #f35d54, #e75a48, #db583c, #ce5531, #c4502a, #ba4c23, #b0471c, #a73f16, #9d3811, #94300b, #8b2805);
    border-radius: 10px;
    transition: 0.3s;
}

.fiche-logement img {
    border-radius: 10px 10px 0px 0px;
    height: 268px;
    width: 100%;
    object-fit: cover;

}

.fiche-logement h3 {
    display: flex;
    height: 60px;
    font-size: 18px;
    font-weight: 500;
    line-height: 142.6%;
    text-decoration: none;
    margin: 0px 20px;
    align-items: center;
    overflow: hidden;
    color: white;
}

