.header-nav {
    width: 1240px;
    height: 68px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    margin-bottom: 40px;
    align-items: center;
}

.header-nav img {
    width: auto;
    height: 68px;
    margin: auto 0px;
}

.header-nav a {
    font-size: 24px;
    color: #ff6060;
    font-weight: 500;
}

.header-nav ul {
    display: flex;
    gap: 35px;
    list-style: none;

}

.header-nav li:hover {
    cursor: pointer;
    text-decoration: underline;
}