.header {
    width: 1240px;
    height: 68px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    margin-bottom: 40px;
    align-items: center;
}

.header img {
    width: auto;
    height: 68px;
    margin: auto 0px;
}

.header-link a {
    display: flex;
    justify-content: flex-end;
    color: #FF6060;
    text-decoration: none;
    font-size: 24px;
}

.header ul {
    display: flex;
    gap: 60px;
    list-style: none;
    
    ;
}

.header ul li:hover {
    cursor: pointer;
    text-decoration: underline;
}


@media (min-width: 451px) and (max-width: 480px) {
    .header nav a {
        font-size: 18px;
    }
}

@media (max-width: 450px) {
    .header nav a {
        font-size: 14px;
    }

    .header ul {
        gap: 15px;
    }

    .header img {
        height: 45px;
    }

    .header nav {
        justify-content: center;
    }

}