.hostName p {
    color: #FF6060;
    text-align: right;
    font-size: 18px;
    font-weight: 500;
    margin: 0;

}

@media (min-width: 321px) and (max-width: 767px) {
    .hostName p {
        font-size: 12px;
    }
}