@font-face {
    font-family: 'Montserra';
    src: url('../assets/fonts/static/Montserrat-Regular.ttf');
}

body {
    box-sizing: border-box;
    margin: 0 auto;
    font-family: 'Montserra', sans-serif;
    max-width: 1440px;
    color: #ff6060;


}

a {
    text-decoration: none;
}