.navbar {
    height: 68px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.navbar {
    align-items: center;
}

.navbar img {
    width: auto;
    height: 68px;
    margin: auto 0px;
}

.navbar nav a {
    display: flex;
    color: var(--colorRed);
    text-decoration: none;
    font-size: 24px;
}

.navbar ul {
    display: flex;
    padding: 0px;
    gap: 30px;
    list-style: none;
}

.navbar ul li:hover {
    cursor: pointer;
    text-decoration: underline;
}


@media (min-width: 451px) and (max-width: 480px) {
    .navbar nav a {
        font-size: 18px;
    }
}

@media (max-width: 450px) {
    .navbar nav a {
        font-size: 14px;
    }

    .navbar ul {
        gap: 15px;
    }

    .navbar img {
        height: 45px;
    }

    .navbar nav {
        justify-content: center;
    }

}