.rental__container {
    display: flex;
    flex-direction: column;
    width: 1248px;
    margin: 0 auto;
}

.rental__presentation {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.rental__location {
    font-size: 18px;
    font-weight: 500;
    margin-top: -20px;
}

.rental__host {
    display: flex;
    gap: 10px;
    align-items: center;

}

.rental__info {
    display: flex;
    justify-content: space-between;
    padding-top: 15px;
    padding-bottom: 15px;
}

.dropdown__container {
    display: flex;
    gap : 25px;
}